* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0; 
  color: #444; 
  text-align: center;
  font-size: 13px; 
  font-family: Arial, Helvetica, sans-serif;
}

@media only screen   
and (orientation : landscape)   
{ 
body {
  font-size: 13px; 
}
} 

@media only screen   
and (orientation : portrait)   
{
  body {
    font-size: 8px; 
  }
}   

.align-left {
  left: 0; 
}

.align-center {
  left: 50%;
  transform: translateX(-50%)
}

.align-right {
  right: 0;
}

/* Button with check status indicated by a icon */
.checkbtn {
  display: inline-block;
  position: relative;
  margin: 0; 
}

.checkbtn input {
  display: none;
}

.checkbtn span {
  display: inline-block;
  position: relative;
  height: 35px; 
  line-height: 35px;
  margin: 0 2px; 
  padding: 0 10px 0 35px;
  font-size: 100%; 
  color: #444; 
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  background-color:#f1f1f1;
  border: none;
  cursor: pointer;
  background-image: url("images/gray-light.png");
  background-repeat: no-repeat;
  background-position: left 5px center;
  background-size: 25px;
}

.checkbtn span:hover {
  background-color: #ddd;
}

.checkbtn input:checked + span {
  background-image: url("images/green-light.png");
} 

.checkbtn input:indeterminate + span {
  background-image: url("images/yellow-light.png");
} 

/* Button with active status indicated by background color */
.switchbtn {
  display: inline-block;
  height: 35px; 
  margin: 0 2px;
  padding: 0 15px;
  border: none; 
  font-size: 100%;
  color: #444;  
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f1f1f1;
  cursor: pointer;
  overflow: hidden;
}

.switchbtn:hover {
  background-color: #ddd;
}

.switchbtn.active {
  background-color: #888;
  color: white;
}

/* Common button */
button {
  display: inline-block;
  height: 35px; 
  margin: 0 2px;
  padding: 0 10px; 
  border: none;
  font-size: 100%; 
  color: #444; 
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f1f1f1;
  cursor: pointer;
  overflow: hidden;
}

button:hover {
  background-color: #ddd;
}

/* Common select */
select {
  display: inline-block;
  height: 35px; 
  margin: 0 2px; 
  padding: 0 10px;
  border: none;
  font-size: 100%; 
  color: #444; 
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  background-color: #f1f1f1;
  overflow: hidden;
  -webkit-appearance: none;
}

select:hover {
  background-color: #ddd;
}

#control {
  height: 50px; 
  position: absolute;  
  bottom: 0;  
  left: 3px; 
  right: 3px;
  overflow: hidden; 
  text-align: center;
  border-top: 1px solid #ccc;
}

.control-panel {
  height: 35px; 
  position: absolute;  
  top: 5px; 
  overflow: hidden; 
}
